
[{{ env['WIKICODE'] }}]
URI=/tiles/{{ env['WIKICODE'] }}/
TILEDIR=/var/cache/mod_tile
XML=/etc/mapnik/map_{{ env['WIKICODE'] }}.xml
HOST=localhost
TILESIZE=512
SCALE=2.0
MINZOOM=0
MAXZOOM=18
TYPE=png image/png
CORS=*
