<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE Map[
  <!ENTITY postgis_host SYSTEM "pg_config/host" >
  <!ENTITY postgis_db SYSTEM "pg_config/database" >
  <!ENTITY postgis_user SYSTEM "pg_secret/username" >
  <!ENTITY postgis_pass SYSTEM "pg_secret/password" >
]>

<Map xmlns:xi="http://www.w3.org/2001/XInclude" buffer-size="128" srs="+proj=merc +a=6378137 +b=6378137 +lat_ts=0 +lon_0=0 +x_0=0 +y_0=0 +k=1 +units=m +nadgrids=@null +wktext +no_defs">
  <!--<xi:include href="postgis.xml" />-->

  <Datasource name="postgis">
    <Parameter name="type">postgis</Parameter>
    <Parameter name="host">&postgis_host;</Parameter>
    <Parameter name="dbname">&postgis_db;</Parameter>
    <Parameter name="user">&postgis_user;</Parameter>
    <Parameter name="password">&postgis_pass;</Parameter>
    <Parameter name="estimate_extent">false</Parameter>
    <Parameter name="extent">-181,-90,181,90</Parameter>
    <Parameter name="table">(SELECT * FROM map_{{ env['WIKICODE'] }} WHERE globe = 'earth') as world</Parameter>
  </Datasource>

  <xi:include href="fonts.xml" />
  <xi:include href="styles.xml" />
  <xi:include href="layers.xml" />

</Map>
