<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">

    <title>Wikimap: A map of Wikipedia</title>
    <meta name="description" content="A map of every geotagged article in Wikipedia">
    <meta name="author" content="Louis Jencka">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">

    <!-- favicon -->
    <link rel="icon" sizes="192x192" href="./icon-192x192.png">
    <link rel="apple-touch-icon" href="./icon-192x192.png">

    <!-- dumb facebook stuff -->
    <meta property="og:url" content="https://wikimap.wiki/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Wikimap: A map of Wikipedia" />
    <meta property="og:description" content="A map of every geotagged article in Wikipedia" />
    <meta property="og:image" content="https://wikimap.wiki/preview.jpg" />

    <!-- dumb twitter stuff -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="https://wikimap.wiki/">
    <meta name="twitter:title" content="Wikimap: A map of Wikipedia">
    <meta name="twitter:description" content="A map of every geotagged article in Wikipedia">
    <meta name="twitter:image" content="https://wikimap.wiki/preview.jpg">
  </head>
  <body>
    <div id="map-unit">
      <div id="map" class="map">
        <div v-cloak id="loading-indicator" v-if="loading > 0" class="ol-control">
          <button class="button is-loading"></button>
        </div>
      </div>
      <div v-cloak id="popup" class="panel is-hidden-touch">
        <div :class="above ? 'popup-marker-above' : 'popup-marker-below'"></div>
        <wiki-card-list></wiki-card-list>
      </div>
      <div v-cloak id="wiki-card-overlay" class="is-hidden-desktop">
        <wiki-card-list></wiki-card-list>
      </div>
    </div>
    <div v-cloak id="root-grid" class="is-gapless is-marginless">
      <div class="sidebar sidebar-controls inline-block" v-if="visible == false">
        <nav class="level">
          <b-tooltip position="is-right" :label="$t('controls.show')">
            <b-button v-on:click="toggleVisible()">
              <b-icon icon="cogs"></b-icon>
            </b-button>
          </b-tooltip>
        </nav>
      </div>

      <div id="side-unit" class="inline-block"
                          :class="overflow && 'side-unit-overflow'"
                          v-if="visible == true">

        <div class="sidebar sidebar-controls">
          <nav class="level">
            <b-tooltip position="is-right" :label="$t('controls.hide')">
              <b-button class="is-primary is-active" v-on:click="toggleVisible()">
                <b-icon icon="cogs"></b-icon>
              </b-button>
            </b-tooltip>
          </nav>
        </div>

        <div id="controls-layer" class="sidebar panel">

          <div class="panel-block is-block">
            <strong>{{ $t('articles.title') }}</strong>
            <nav class="level is-mobile is-marginless">
              <div class="level-left">

                <div class="level-item">
                  <b-dropdown v-model="wikicode" aria-role="list">
                      <button class="button" type="button" slot="trigger">
                          <b-icon icon="web"></b-icon>
                          <span>{{ language }}</span>
                          <b-icon icon="menu-down"></b-icon>
                      </button>

                      <b-dropdown-item value="arwiki" aria-role="listitem">
                        <span>العربية</span>
                      </b-dropdown-item>

                      <b-dropdown-item value="cawiki" aria-role="listitem">
                        <span>Català</span>
                      </b-dropdown-item>

                      <b-dropdown-item value="dewiki" aria-role="listitem">
                        <span>Deutsch</span>
                      </b-dropdown-item>

                      <b-dropdown-item value="enwiki" aria-role="listitem">
                        <span>English</span>
                      </b-dropdown-item>

                      <b-dropdown-item value="eswiki" aria-role="listitem">
                        <span>Español</span>
                      </b-dropdown-item>

                      <b-dropdown-item value="frwiki" aria-role="listitem">
                        <span>Français</span>
                      </b-dropdown-item>

                      <b-dropdown-item value="idwiki" aria-role="listitem">
                        <span>Bahasa Indonesia</span>
                      </b-dropdown-item>

                      <b-dropdown-item value="itwiki" aria-role="listitem">
                        <span>Italiano</span>
                      </b-dropdown-item>

                      <b-dropdown-item value="jawiki" aria-role="listitem">
                        <span>日本語</span>
                      </b-dropdown-item>

                      <b-dropdown-item value="nlwiki" aria-role="listitem">
                        <span>Nederlands</span>
                      </b-dropdown-item>

                      <b-dropdown-item value="plwiki" aria-role="listitem">
                        <span>Polski</span>
                      </b-dropdown-item>

                      <b-dropdown-item value="ptwiki" aria-role="listitem">
                        <span>Português</span>
                      </b-dropdown-item>

                      <b-dropdown-item value="ruwiki" aria-role="listitem">
                        <span>Русский</span>
                      </b-dropdown-item>

                      <b-dropdown-item value="trwiki" aria-role="listitem">
                        <span>Türkçe</span>
                      </b-dropdown-item>

                      <b-dropdown-item value="zhwiki" aria-role="listitem">
                        <span>中文</span>
                      </b-dropdown-item>

                  </b-dropdown>
                </div>

                <div class="level-item">
                  <!--
                  <b-checkbox-button v-model="articlesVisible">
                    <b-icon icon="eye"></b-icon>
                    <span>Articles</span>
                  </b-button>
                  -->
                  <b-tooltip :label="$t('articles.tooltip')">
                    <b-button v-on:click="articlesVisible = !articlesVisible"
                              class="is-primary"
                              :class="articlesVisible && 'is-light'">
                      <b-icon icon="eye"></b-icon>
                    </b-button>
                  </b-tooltip>
                </div>
              </div>
            </nav>
          </div>

          <div class="panel-block is-block">
            <strong>{{ $t('base.title') }}</strong>
            <nav class="level is-mobile is-marginless">
              <div class="level-left">
                <div class="level-item">
                  <b-field>
                    <b-radio-button v-model="baseLayer" native-value="map">
                      <b-icon icon="map"></b-icon>
                      <span>{{ $t('base.map') }}</span>
                    </b-radio-button>
                    <b-radio-button v-model="baseLayer" native-value="satellite">
                      <b-icon icon="satellite"></b-icon>
                      <span>{{ $t('base.satellite') }}</span>
                    </b-radio-button>
                    <b-radio-button v-model="baseLayer" native-value="none">
                      <b-icon icon="selection-off"></b-icon>
                      <span>{{ $t('base.none') }}</span>
                    </b-radio-button>
                  </b-field>
                </div>
              </div>
            </nav>
          </div>

          <div class="panel-block is-block">
            <strong>{{ $t('search.title') }}</strong>
            <search-bar></search-bar>
          </div>

        </div>

        <div id="layer-list" class="sidebar panel"
                             v-if="tmpLayer != null || values.length > 0">
          <div class="panel-heading">
            <strong>{{ $t('layer.title') }}</strong>
          </div>

          <layer-item v-if="tmpLayer != null"
                      @pin-layer="pinLayer"
                      @remove-layer="removeLayer"
                      v-bind:data="tmpLayer"></layer-item>

          <layer-item v-for="item in values"
                      @remove-layer="removeLayer"
                      v-bind:data="item"
                      v-bind:key="item['title']">
          </layer-item>
        </div>

      </div>
    </div>

    <script src="index.ts" type="module"></script>
  </body>
</html>
